/* Estilos Gerais */
body {
    overflow-x: hidden;
}

/* Links */
.forgot-password {
    display: block;
    text-align: right;
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

/* Botões */
.buttons {
    margin-top: 1.5rem;
}

/* Notificações (estilos base comuns) */
.recovery-notification-container,
.feedback-notification-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    transform: translateY(-150%);
    transition: transform 0.5s ease-in-out;
}

/* Estados visíveis das notificações */
.recovery-notification-container.is-visible,
.feedback-notification-container.is-visible {
    transform: translateY(30%);
    transition: transform 0.5s ease-out;
}